
body {
    width: 2831px;
    height: 1747px;
}
.time {
    position: absolute;
    width: 82.98px;
    height: 14.24px;
    left: 25px;
    top: 33.37px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.status {
    position: absolute;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width: 82.98px;
    height: 14.24px;
    right: 20px;
    top: 33.37px;
}

.calc {
    display:flex;  
    position: relative;
    width: 428px;
    height: 926px;
    left: 822px;
    top: 551px;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    box-shadow: 4px 4px 4px #4f4f4f;
}
.buttons {
    display:flex;  
    position: absolute;
    flex-wrap: wrap;
    width: 394px;
    height: 496px;
    left: 17px;
    top: 356px;
    gap: 14px;
}
/* .calc-screen {
    display:flex;
    position: absolute;
} */
.input-screen {
    /* outline: none  !important; */
    border: none;
    position:absolute;
    top:239px;
    left:245px;
    width: 146px;
    height: 107px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 274;
    font-size: 90px;
    line-height: 107px;
    color: #fff;
    background-color: #000;
}
.btn {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 510;
    width: 88px;
    height: 88px;
    border-radius: 352px;
    text-align: center;
    line-height: 88px;
    font-size: 44px;
    background: #333333;
    cursor: pointer;
    user-select: none;
}
.zero {
    /* position: absolute; */
    width: 190px;
    height: 88px;
    /* left: 17px;
    top: 764px; */
}
.btn.bg-grey {
    background: #A5A5A5;
    color: #000;
    
}
.btn.bg-orange {
    background: #F1A33B;
}
.btn:hover {
    filter: brightness(120%);
}
.btn:active {
    filter: brightness(80%);
}
/* .block1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    position: absolute;

} */
/* .ac{
    right: 100px;
} */